<h1 class="text-center m-4">Mes opérations</h1>

<div class="d-flex justify-content-center my-4">
  <button type="button" class="btn btn-primary mx-2" (click)="addOperation()">
    + Ajouter
  </button>
  <button
    type="button"
    class="btn btn-danger mx-2"
    (click)="deleteSelectedItems()"
  >
    Supprimer
  </button>
  <button
    type="button"
    class="btn btn-outline-dark mx-2"
    (click)="updateSelectedItems()"
  >
    Modifier
  </button>
</div>

<div class="container py-5">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col"><strong>Date</strong></th>
        <th scope="col"><strong>Catégorie</strong></th>
        <th scope="col"><strong>Titre</strong></th>
        <th scope="col"><strong>Montant</strong></th>
        <th scope="col"><strong>Type</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operation of operations">
        <td>
          <input type="checkbox" [(ngModel)]="operation.selected" />
        </td>
        <td>{{ operation.date }}</td>
        <td>{{ operation.categorie }}</td>
        <td>{{ operation.titre }}</td>
        <td>{{ operation.montant }}</td>
        <td>{{ operation.type }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showCreateNewBudget">
  <app-create-new-budget
    (operationAdded)="onOperationAdded($event)"
  ></app-create-new-budget>
</div>
