<h1>Mes opérations</h1>
<button type="button" class="btn btn-primary m-2">+ Ajouter</button>
<button type="button" class="btn btn-primary m-2">- Supprimer</button>
<div class="container py-5">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col"><strong>Dates</strong></th>
        <th scope="col"><strong>Types</strong></th>
        <th scope="col"><strong>Catégories</strong></th>
        <th scope="col"><strong>Montant</strong></th>
        <th scope="col"><strong>Solde</strong></th>
      </tr>
    </thead>
  </table>
</div>
